#This is a sample configuration file of Reviver backup program
#Configuration file may contain sensitive data from databases and any other remote services.
#IT IS STRONGLY RECOMMENDED TO SET THIS FILE AS ROOT OWNER AND 0600 PERMISSIONS !!!

#Configuration file is case-sensitive.
#Be careful, do not use tabs for indentiation.
#The purpose of global section is to set common parameters. This section is MANDATORY.
#Other sections are not mandatory and every enabled section automatically search and activate relevant module.
#To disable module, simply mark it with '#' symbol, like any other comments here.
#Every module must contain backupLabel.

global:
  backupTo: /backup #Location where to store your backup files
  compression: xz #Type of compression. Available: gz, bz2, xz
  logLevel: 5 #Will be implemented in future version
  logFile: /var/log/reviver.log #Will be implemented in future version

remoteSync:
  - remoteSyncLabel: External USB Drive #Label for remote sync action
    mountPoint: /mnt/remote_backup #Please add this mount point to the /etc/fstab file with noauto option.
    syncDestination: /mnt/remote_backup/server #Synchronize your backup into this directory.

files:
  - backupLabel: MyDocuments #Backup file will be placed in subdirectory with this name. For example: /backup/MyDocuments/files_MyDocuments_2016-05-24-daily.tar.xz
    sources:
      - '/home/john/documents'
    exclude:
      - 'dumb_notes.txt'
     keep: 5 #Number of months to keep backups in place. Older backups will be deleted.

  #You can specify multiple rounds of backup with new sequence containing unique backupLabel
  - backupLabel: UsrDir
    sources:
     - '/usr'

#Please sepcify here full path to dump command, server name, user name, password and port
#You can also run multiple rounds of backups with new sequence.
mysql:
  - backupLabel: MySQLdb
    server: localhost
    user: root
    password: t0p5ecr€T
    port: 3306
    keep: 7

#Postgresql backup is done using temporary pgpass file.
#You can also run multiple rounds.
pgsql:
  - backupLabel: PGSQLdb
    server: localhost
    user: postgres
    password: t0p5ecr€T
    port: 5432
    keep: 7

